.Butt {
  width: 80%;
  font-size: 110%;
  display: inline-block;
  margin:.5em 0.3em 0em 0.5em;
  border-radius:.2em;
  padding: 1% 0% 1% 0%;
  box-sizing: border-box;
  text-decoration:none;
  font-family:Fraktur;
  align-items: center;
  font-weight:bolder;
  color:rgb(90, 32, 122);
  background-color:#c1c1c2;
  text-align:center;
  transition: all 0.2s;
}  

.Butt:hover{
    background-color:rgb(150, 209, 150);
}

@media all and (max-width:30em){
    .Butt{
        display:block;
        margin:0.2em auto;
    }
}