
.ProfileGril{
    width: 100%;
    height: 100%;
    display: flex;
}

.ProfileContainer{
    width:97%;
    height:auto;
    margin-top: 5%;
    padding: .5% 0% .5% 0%;
    color: rgb(81, 81, 81);
    background-color:#ffffff ;
    box-shadow:0px 0px 5px 3px rgb(201, 197, 197); 
}
.button{
   width: 100%;
   height:50%;
   text-decoration:none;
   padding: 0% 2%;
   font-size: 100%;
   background-color: white;
   float: right;
}

p{
    margin:0% 0% 0% 0%;
    font-weight: 500;
    font-size: 100%;
}

.ProfileDetailsContainer{ 
    width: 96%;
    display:flex;
    margin: 0% 0% 1.5% .8%;
    padding: .5%;
}

.ProfileDetailsContainer2{ 
    margin: 0% 0% 0.5% 2.8%;
    color: rgb(66, 65, 65);
    padding: .1% .5% .5% 0%;
    border-radius: .2%;
    border: 1px solid rgb(214, 211, 211);
    background-color: rgb(255, 255, 255);
}

.row1{
    width: 25%;
    height:80%;
    background-color: #eeecec;
    margin: 2% 0% 0% 1.5%; 
}

.row1_1{
    width:75%;
    color:rgb(66, 65, 65);
    margin: 2% 0% 0% 1%;
    padding:3%  1% 0%  1%;
    background-color: rgb(240, 238, 238);
}

.Profile{
    width: 100%;
    height:60%;
    border-radius: .2em;
}

.Profile1{
    width:140px;
    text-align: center;
    height:auto;
    border-radius: .3em;
}

.DisPlay1{
   width: 48%;
   height: auto;
   font-size: 100%;
   margin: 0% 1% 0% 1%;
   display: flex;
   font-family:  Fraktur;
}

.DisPlay{
    width: 98%;
    height:auto;
    font-size: 100%;
    margin: 1% 0% 0% 1.5%;
    font-family:  Fraktur;
}


.Displayback{
    width: 99%;
    height: 80%;
    padding: 0.5% 0% 0.5% 1%;
    margin:2% 0% 0% 0%;
    border-radius:.2em;
    font-weight: 700;
    display: flex;
    background-color: rgb(225, 223, 228);
}

.Displayback1{
    width: 99%;
    height: auto;
    padding: 0.5% 0% 0.5% 1%;
    margin:1% 0% 0% 0%;
    border-radius:.2em;
    font-weight: 700;
    display: flex;
    ;
}

.AddressDisplayback{
    width: 100%;
    height: auto;
    padding: 1% 0% 0% 2%;
    margin:1% 0% 1% 0%;
    border-radius:.2em;
    font-weight: 700;
    display: flex;
    background-color:  rgb(225, 223, 228);
}


.AddLab{
    width:26%;
    height:100%;
    margin-left: 4%;
    padding: .5% 0%;
}


.AddLab1{
    width:22%;
    height: auto;
    padding: 1% 1% 1% 1%;
}




.AddLab2{
    width:78%;
    height: auto;
    padding: 1% 1% 1% 1%;
}

.label1{
    margin-right:3px;
    padding: .4%;
    width:80%;
    font-size: 100%;
    font-family: Fraktur;
}

.label{
    margin-right:3px;
    padding: .4%;
    width:17%;
    font-size: 100%;
    font-family: Fraktur;
}

label{
 width:90%;
 font-size:100%;
}


.ProfileHeader{
  width: auto;
  height: auto;
  display: flex;
  font-size:110%;
  font:bolder;
  font-family: 'Calistoga', cursive;
  margin: 0% 0% 0%  0% ;
}


.fullProfile{
    width: 80%;
    height: 100%;
    background-color: #dfdee3 ;
    padding-bottom: 540px;
    margin: 0% 10% 0% 10%;
}

.AddressDetail{
    width:80%; 
    height: auto;
    padding:0% 1% 1% 2%;
    margin:0% 1% 1% 1%;
    font-weight: 400;
    font-size: 110%;
    background-color: whitesmoke;
}

hr{
    width: 95%;
    margin: 0% 0% 3% 0%;
    margin-left: 2.5%;
}

.UploadBtn{
 width: 30%;
 height: auto;
 margin: 2% 0% 0% 4%;
}

.A{ width: 70%;
    margin-left: 4%;
    padding: 1% 0% 0% 0%;
    font-family: Fraktur;
    display:flex;
    font-weight: 500;
    height: 100%;
    font-size: 120%;
}

.InfoBlock{
   width: 100%;
   display: flex;
   height:  auto;
   font-weight: 500;
   font-size:100%;
   border-radius: .2em;
   padding: 0% 0% 0% .5%;
   margin: .5% 0% .5% 0%;
   background-color: rgb(255, 255, 255);
}

.AddressInfoBlock{
    width: 99%;
    margin: 0% .5% 0%  0% ;
    display: flex;
    height: auto;
    font-weight: 500;
    font-size:100%;
    border-radius: .2em;
 }

