.Navigationitem{
    margin: 0;
    box-sizing: border-box;
    display:flex;
    height: 100%;
    align-items: center;
}

.Navigationitem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 6px 15px 9px 15px;
    border-right: 0px solid gray;
    box-sizing: border-box;
    display: block;
}

.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active{
    background-color: #4985e6;
    border-bottom:  1px solid #40A4C8;
    color: white ;
}