.HomePageSceenBackGround{
  height:100%;
  box-shadow: 0 3px 5px 2px  #a6a6a6;
}

.ProfileBackground{
  width: 100%;
  background: #acacca;
  border: 1px solid #b7b8b7;
  padding:1% 0% 6% 0%;
  color: gray;
}

.WelcomeNotes{
  width: 90%;
  height: auto;
  color: rgb(13, 13, 14);
  font-size: 210%;
  font-family: italic;
  padding: 2% 0% 2% 1%;
  margin: 3% 0% 0% 5%;
  border-radius:1em;  
}

.WelcomeNoteDiscriptions{
  font-size: 150%;
  color: rgb(30, 29, 30);
  padding: 0% 0% 0% 10%;
}

li{
  padding: 1% 0% 1% 0;
}